<i class="instructionText">In the text below some words are missing. Drag words from the box below to the appropriate place in the text. To undo an answer choice, drag the word back to the box below the text.</i>
<div class="questionBlock">
    <ng-container #container></ng-container>
</div>

<ng-template #template let-paragraph="paragraph">
    <span>{{paragraph}}<span class="dropContainer"
        (dragover)="allowDrop($event)" (drop)="drop($event)"></span></span>      
</ng-template>

<div class="optionContainer" (drop)="drop($event)" (dragover)="allowDrop($event)">
<div class="dragOption" *ngFor="let item of options" draggable="true" id={{item}} (dragstart)="onDragStart($event)">{{item}}</div>
</div>
