.title {
    font-size: 24px;
    font-family: sans-serif;
    width: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
}
.headerStatus {
    display: flex;
}
.status-element {
    margin-left: 25px;
}